@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .basic-button {
    @apply mx-2 rounded-full bg-sky-500 px-4 py-2 text-xl text-white hover:bg-sky-600 focus:outline-none focus:ring-2 focus:ring-sky-400 focus:ring-offset-2
  }

  .basic-shadow-button {
    @apply py-2 px-3 bg-indigo-500 text-white text-sm font-semibold rounded-md shadow-lg shadow-indigo-500/50 focus:outline-none
  }

  .basic-tab-button {
    @apply py-2 px-3 text-white text-sm font-semibold rounded-md shadow-lg focus:outline-none
  }

  .list-box-options {
    @apply
      absolute
      top-full
      right-0
      z-[999]
      mt-4
      w-40
      overflow-hidden
      rounded-lg
      bg-white
      text-sm
      font-semibold
      text-gray-700
      shadow-lg
      shadow-gray-300
      outline-none
      dark:ring-0
      dark:bg-gray-800
      dark:text-white
      dark:shadow-gray-500
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center
  }
  .title {
    @apply text-[30px] py-10 font-bold underline underline-offset-8 decoration-pink-500
  }
}